    <%- include('./partials/header') %>

    
    
<main>
<h2>Bienvenue sur le trombinoscope de l'école O'clock</h2>
<a href="/promo">Voir la liste de promos</a>
</main>
    
    
    <div>
        
        <% for(const promo of promos) { %>
            <div><%= promo.name %></div>
        <a href="/promo/<%= promo.id %>">plus de détails</a>
        <a href="<%= promo.github_organization %>">Lien github</a>
            <% } %>
        </div>
    </body>
    </html>


    <%- include('./partials/footer') %>
