<%- include('./partials/header') %>

<div>


    


    <h1>promo : <%= foundPromo.name %></h1>
    <% for (const student of promo) { %>
        <img src="<%= student.profile_picture_url %>"" alt="Student's picture"> 
        <div> Prénom : <%= student.first_name %> </div>
        <div> Nom : <%= student.last_name %> </div>
        <div> <%= student.id %> </div>
        <div> <%= student.github_username %> </div><br>
            
            
    <% } %>        
    
</div>

<%- include('./partials/footer') %>